__pycache__/
*.py[cod]
*.so
.DS_Store

.pytest_cache/
.mypy_cache/
.ruff_cache/

.venv/
venv/
.conda/

outputs/
result/
time_result/
src/time_result/
src/process/
*.jsonl
!benchmark/**/*.jsonl

*.log
src/parallel_decoding/*.log

*.pt
*.bin
*.safetensors

.env
.env.*
